<!DOCTYPE html>
<html lang="en" class = 'dark'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks!</title>
</head>

<header>
    <nav>
        <h1>Snack List!</h1>
        <p>A site dedicated to awesome treats</p>
        <a href="{% url 'snack_list' %}">Snack List</a>
        <br>
    </nav>
</header>

<body>
{% block content %}
    <h1>Forgot content</h1>
{% endblock content %}
</body>

<footer>
    {% block footer %}
        <br>
        <p>COPYRIGHT Mike Shen 2023</p>
    {% endblock footer %}
</footer>